.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.98);
    backdrop-filter: blur(1px);
}

.navbar nav{
    height: 80px;
    border-bottom: 1px solid var(--primary-nav-border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 70px;
    justify-content: space-between;
}

.navbar nav .homeTitle{
    font-size: 40px;
    font-weight: 900;
    cursor: default;
    padding: 5px;
    color: var(--nav-primary-color);
    cursor: pointer;
}

.navitems{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.items{
    margin-left: 30px;
    transition: color .2s ease;
    &:hover{
        color: var(--nav-primary-color);
    }
}