.signuppage{
    height: 100vh;
    background-image: url("/images/orange-bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.signupsection{
    padding-top: 80px;
    height: 100%;
}

.signupcont{
    padding: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}